.countries{
    width:85%;
    margin: 40px auto;
}
.countries_wrapper{
    display:flex;
    justify-content: space-between;
}
.countries_wrapper>div{
    flex-basis:19%;
}
.countries_wrapper>div>div{
    width:100%;
    min-height:140px;
    height:80%;
}
.countries>h1{
    font-size: 20px;
font-family: system-ui;
margin:0 0 5px 0;
}
.countries>h3{
font-family: system-ui;
font-weight: 400;
margin:0 0 10 px 0;
font-size: 16px;
}
.countries_wrapper>div:hover{
    cursor: pointer;
}
.countries_wrapper>div>p{
    font-family: system-ui;

margin:0 0 10 px 0;

}
.place{
    font-size: 16px;
    font-weight: 700;
    margin: 10px 0 0px 0;
}
.numbers{
    line-height: 16px;
    font-size: 14px;
    margin: 0px 0 0 0;
}
