.footer{
    width:100%;
    background-color:#003580;
    height:50px;
}
.footer_wrapper{
    font-family: system-ui;
    font-size: 14px;
    width:85%;
    margin:0 auto;
    display:flex;
    justify-content: flex-start;
    align-content: center;
}
.footer_wrapper>a{
    text-decoration: none;
    color:white;
    margin:auto 15px auto 0;
}

.footer_allright,.footer_company{
    font-size:12px;
    font-family: system-ui;
    text-align: center;
    line-height:40px;
}