.itemplace{
    width:60%;
    margin:10px auto;
    height:200px;
    display:flex;
    border:solid 1px black;
}
.itemplace>div>img{
    display:block;
    width:90%;
    height:90%;
    border-radius: 5px;
    margin:10px auto;
}

.itemplace>div:nth-child(1){
    flex-basis:30%;
}

.itemplace>div:nth-child(2){
    flex-basis:70%;
}

.itemplace>div>p>a:nth-child(1){
    font-family: system-ui;
    text-decoration: none;
    color:#003580;
    font-weight: 800;
}
.itemplace>div>p:nth-child(2){
    font-family: system-ui;
    text-decoration: none;
    
    font-size:14px;
}

.siteOfPlace{
    width:85%;
    margin:10px auto;
}