.header{
    background:#003580;
      color: #fff;
      display:flex;
      flex-direction: column;
}


.header>div{
    flex-basis: 50%;
}

.header__logo{
    display:flex;
    flex-direction: row;
    align-items: center;
    width:85%;
    height:100%;
    margin: 0 auto;
    min-height:90px;
}

.header__logo > div:first-child{
    height: 100%;
}

.header__buttons{
    min-height: 100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 0 auto;

}



.header__button{
    border-radius: 3px;
    width:60px;
    max-width:60px;
    height:60px;
    margin:0 5px;
    display:flex;
    align-content: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    
}
.header__button:hover{
    background-color: RGB( 31, 78,143);
    cursor: pointer;
}

.header__shareButton, .header__logButton{
font-size: 14px;
font-weight: 500;
font-family:system-ui;
margin: 0 5px;
outline:none;
border:none;
min-height:40px;
padding:0 20px;

}
.header__logButton:hover{
    cursor: pointer;
    background-color:rgb(240,247,251); 
}


.header__shareButton:hover{
    background-color: rgba(20, 17, 17, 0.1);
    cursor: pointer;
}



.header__shareButton{
   background:none;
    color:white;
    border:solid 1px white;

}




.header__logButton{
    background-color: rgba(255,255,255,1);
    color:rgb(0,113,194);
    border:solid 1px rgb(0,113,194);

}


.header__navigation{
    width:85%;
    margin:0 auto;
    display:flex;
}