.nav__button{
    display:flex;
    justify-content: center;
    align-content: center;
    padding:0 10px;
}

.nav__button:hover{
    cursor: pointer;
    background-color: rgb( 31, 78,143);
}


.nav__button>img{
    display:block;
    margin:auto 10px;
   width:25px;
   height:25px;
}
.nav__button>p{
    font-size: 14px;
font-weight: 500;
font-family:system-ui;
}