.objects{
    width: 85%;
    margin: 10px auto;
    height:500px;
   
    display:flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap:wrap;
}


.objects_big{
    box-sizing: border-box;
    padding:20px 10px;
flex-basis: 49%;
height:50%;

}
.objects_big>a{
    width:100%;
    height:100%;
}
.objects_big:hover, .object_medium:hover{
    box-shadow: inset 0px 20px 26px 0px rgba(0,0,0,0.5);
    cursor:pointer;
}

.object_medium{
    box-sizing: border-box;
    padding:20px 10px;
flex-basis:32%;
height: 50%;
margin: 10px 0 0 0;

}
.objects_big>h1,.object_medium>h1{
    margin: 0 auto;
    font-size:28px;
    font-family: system-ui;
    font-weight: 900;
    color:white;
    display:flex;
    align-content: center;
    gap:10px;
}



.objects_big>h3,.object_medium>h3{
    font-size:16px;
    font-family: system-ui;
    
    color:white;
    margin: 5px 0 0 0 ;
}

.warsawbg{
    background-image:url('cities/warsaw.jpg');
    background-size: cover;
}
.gdakbg{background-image:url('cities/gda.jpg');
    background-size: cover;}
.pozbg{background-image:url('cities/poz.jpg');
    background-size: cover;}
.wrowbg{background-image:url('cities/wro.jpg');
    background-size: cover;}
.torbg{background-image:url('cities/tor.jpg');
    background-size: cover;}
    .balticbg{background-image:url('cities/baltic.jpg');
        background-size: cover;}