.placePage>div{
width:85%;
margin:30px auto;
}

.placePage>div>h1{
    text-align: center;
    font-size:30px;
}
.placePage>div>p{
    text-align: center;
    font-family: system-ui;
    font-size:16px;
}
.placePage>div>img{
    display:block;
    width:300px;
    height:300px;
    margin:20px auto;
}

.placeTitle{
    margin:40px auto;
    text-align: center;
    font-family: system-ui;
    color:#003580;
}