.search{
    box-sizing: border-box;
    width:100%;
    min-height: 260px;
    background-color: rgb(245,245,245);
    padding: 44px 5px;
}
.search_content{
    width:85%;
    height:100%;
    margin:auto;
    font-family: Arial, Helvetica, sans-serif;
}

.search_content>h1{
    color: #333;
    font-size:24px;
    font-weight: 600;
    margin:5px 0;
}
.search_content>h3{
    font-size: 14px;
   
    font-weight: 400;
}
.search_form{
    width:100%;
    display:flex;
    
}
.search_form>div{
    border:solid 4px rgb(254,187,  2);
    height:60px;
    margin: 0 -2px 0 0 ;
    border-radius:2px;
    font-family: system-ui;
    font-size:14px;
    background-color: white;
    display:flex;
    justify-content: flex-start;
    align-content: center;
    box-sizing: border-box;
    padding:10px;
}

.search_form>*:nth-child(1){
    width:30%;
    
}

.search_form>div>img{
    width:25px;
    height:25px;
 margin: auto 10px;
}

.search_form>div:hover{
    box-shadow: inset 0px 0px 0px 1px rgb(213,156,  0);
}
.search_form>*:nth-child(1)>textarea{
    border:none;
    outline:none;
    resize: none;
    width:80%;
    overflow: hidden;
    font-weight: 700;
}
.search_form>*:nth-child(1):hover{
cursor: text;
}
.search_form>*:nth-child(2):hover{
    cursor: pointer;
    }
    .search_form>*:nth-child(3):hover{
        cursor: pointer;
        }
.search_form>*:nth-child(2){
    background-color: white;
    width:30%;
}
.search_form>*:nth-child(2)>p{
    font-weight: 700;
    margin:auto 0;
color:grey;
height:20px;
}

.search_form>*:nth-child(3){
    background-color: white;
    width:30%;
}
.search_form>*:nth-child(3)>p{
    font-weight: 700;
    margin:auto 0;
    color:grey;
    height:20px;   
}

.search_form>*:nth-child(4){
    border:solid 4px rgb(254,187,  2);
    font-weight: 500;
    color:white;
    background-color: rgb(  0,113,194);
    width:10%;
    font-family:system-ui;
}
.search_form>*:nth-child(4):hover{
    cursor: pointer;
    background-color:rgb(  0, 89,153);
}

.search_check{
    width:20px;
    height:20px;
    margin: auto 10px;
}
.search_check:hover{
    cursor: pointer;
}

.search_label{
    
    display:block;
    font-size: 14px;
    margin: auto 0;
    font-family: system-ui;
}
.checkbox_wrapper{
    margin: 15px auto;
display:flex;
justify-content: flex-start;
align-content: center;
}