.tip{
    box-sizing: border-box;
    padding:10px;
    width:85%;
    margin:20px auto;
    display:flex;
    justify-content: flex-start;
    align-content: center;
    border: solid 2px rgb(231,231,231);
    border-radius: 3px;
    font-family: system-ui;
    font-size: 14px;
}
.tip>img{
    width:30px;
    height:30px;
    display:block;
    margin: auto 10px;
}