.types{
    width:85%;
    margin: 40px auto;
    font-family: system-ui
}

.types_wrapper{
    display:flex;
    
    justify-content: space-between;
}
.types>h1{
    font-size:24px;
}
.types_wrapper>div{
    flex-basis:19%;
}
.types_wrapper>div:hover{
    cursor:pointer;
}
.types_wrapper>div>div{
    width:100%;
    min-height: 140px;
}

.hotel{background-image:url('types/hotel.jpg');
    background-size: cover;}
.apart{background-image:url('types/apart.jpg');
    background-size: cover;}
.resort{background-image:url('types/resort.jpg');
    background-size: cover;}
.villa{background-image:url('types/villa.jpg');
    background-size: cover;}
.house{background-image:url('types/house.jpg');
    background-size: cover;}